<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Smartcare</title>
</head>

<body>
  {% include "smartcare/navbar.html" %}
  <br>
  <br>
  <br><br>

  <!--- login page for admin by admin  ---------->
  <form method="post">
    {% csrf_token %}
    <div class="container register-form">
      <div class="form">
        <div class="note">
          <p>Admin Login Page</p>
        </div>

        <div class="form-content">
          <div class="row">
            <div class="col-md-6">

              <div class="form-group">
                {% render_field form.username class="form-control" placeholder="Username" %}
              </div>

            </div>
            <div class="col-md-6">

              <div class="form-group">
                {% render_field form.password class="form-control" placeholder="Password" %}
              </div>

            </div>
          </div>
          <button type="submit" class="btnSubmit">Login</button>
          <div class="text-center">Do not have account? <a href="adminsignup">Signup here</a></div>
        </div>
      </div>
    </div>

  </form>

  <br><br><br>
  

  {% comment %} {% include "smartcare/footer.html" %} {% endcomment %}
</body>

</html>
